{% extends 'base.html' %}
{% block title %}Create Post{% endblock %}
{% block content %}
<div id="creatPostDiv" class="bg-[#212228]">
    <div class="flex ml-2 mr-2 md:ml-6 md:mr-6 m-auto text-white" id="createPost">
        <div class="flex-1 bg-[#1F1F1F] border border-slate-600 rounded-md mt-[1px]" id="post-content">
        </div>
        <div id="createPostSidebar"
            class="w-max bg-[#1F1F1F] border border-slate-600 rounded-md mt-[1px] pl-2 pr-2" onmouseover="active()">
            <h1 onclick="addTitleToPost()">Title</h1>
            <h1 onclick="addTextToPost()">Text</h1>
        </div>
    </div>
</div>
<div id="editText" class="hidden">
    <button class="bg-red-500 pl-2 pr-2 pt-1 pb-1 rounded-lg" onclick="deleteActiveElement(event)">Delete</button>
</div>
{% endblock %}