@tailwind base;
@tailwind components;
@tailwind utilities;

.linux {
    font-family: "Ubuntu";
    font-weight: 400;
    font-style: normal;
}
.gradient-text{
    background: linear-gradient(43deg, rgb(255, 255, 0) 0%, rgb(221, 8, 237) 23%, #0400ff 55%);
    background-size: 400%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
        padding-left: 48px;
        padding-right: 48px;
    }
}

.glass {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.2), 0 0 10px hwb(222 6% 84% / 0.2);
}

.text-shadow{
    text-shadow: 0px 1px 2px rgba(255,255,255,0.8);
}