{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<div id="login-signup" class="flex flex-1 justify-center items-center">
    <div class="bg-color6 p-8 rounded shadow-lg glass">
        <h2 class="text-2xl mb-4 text-center text-gray-700">Login</h2>
        {% if error %}
        <p id="error-message" style="color: red;">{{ error }}</p>
        {% endif %}
        <form action="" method="POST">
            {% csrf_token %}
            <div class="mb-4">
                <label class="block mb-2 text-sm font-bold text-gray-700" for="username">
                    Email
                </label>
                <input
                    class="appearance-none shadow focus:ring-0 border-none rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="username" name="email" type="text" placeholder="Email ID" value="{{ request.POST.email|default:'' }}">
            </div>
            <div>
                <label class="block mb-2 text-sm font-bold text-gray-700" for="password">
                    Password
                </label>
                <div class="flex shadow justify-center items-center w-max rounded bg-white">
                    <input
                        class="appearance-none border-none rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:ring-0"
                        id="password" name="password" type="password" placeholder="Enter Your Password" value="{{ request.POST.password|default:'' }}">
                    <div class="text-black text-2xl flex justify-center items-center border-none mr-2"
                        onclick="toggleIcon()"><i class='bx bx-show-alt'></i></div>
                    <div class="hidden flex text-black text-2xl justify-center items-center border-none mr-2"
                        onclick="toggleIcon()"><i class='bx bx-hide'></i></div>
                </div>
            </div>
            <div class="flex mt-2 mb-4">
                <p class="text-sm text-blue-500"><a href="{% url 'forget-password' %}">forgot password?</a></p>
            </div>
            <div class="flex items-center justify-center">
                <button
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline text-center"
                    type="submit">
                    Sign In
                </button>
            </div>
            <div class="flex items-center justify-center mt-4 text-gray-600">
                <p>don't have account? <span class="text-[orange]"><a href="/signup">Sign Up</a></span></p>
            </div>
        </form>
    </div>
</div>


<script>
    function toggleIcon() {
        const passwordField = document.getElementById('password');
        const showPassword = document.body.querySelector(`.bx-show-alt`).parentElement;
        const hidePassword = document.body.querySelector(`.bx-hide`).parentElement;
        showPassword.classList.toggle('hidden');
        hidePassword.classList.toggle('hidden');
        const type = passwordField.getAttribute('type') === 'password' ? 'text' : 'password';
        passwordField.setAttribute('type', type);
    }
    document.addEventListener('DOMContentLoaded', function() {
        const errorMessage = document.getElementById('error-message');
        const inputFields = document.querySelectorAll('input');

        inputFields.forEach(field => {
            field.addEventListener('focus', function() {
                if (errorMessage) {
                    errorMessage.style.display = 'none';
                }
            });
        });
    });

    document.addEventListener("DOMContentLoaded", function(){

    })
</script>
{% endblock %}